/* TODO Add site wide styles */
/* start - reset css */
html, body, div, span, nav, ul, li, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b9bbbe;
}

* {
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b9bbbe;
}

html body {
  background-color: #2d2e32;
}

a:link {
  /* color: black; */
  text-decoration: none;
}

a:visited {
  /* color: black; */
  text-decoration: none;
}
/* end - reset css */

/* General Styling */
.main-section {
  margin-top: 24px;
}

.content-container{
  margin-right: auto;
  margin-left: auto;

  background-color: rgb(55, 57, 63);
  border-bottom-color: rgb(118, 127, 140);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left-color: rgb(118, 127, 140);
  border-right-color: rgb(118, 127, 140);
  border-top-color: rgb(118, 127, 140);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 3px;
  box-shadow: rgba(10, 10, 10, 0.1) 0px 8px 16px -2px, rgba(10, 10, 10, 0.02) 0px 0px 0px 1px;
  box-sizing: border-box;

  color: #b9bbbe;
  /* display: block; */
  font-size: 16px;
  font-weight: 400;

  min-height: 442px;
  line-height: 24px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 768px;
  /* -webkit-font-smoothing: antialiased; */

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 720px;
  overflow: auto;
}
/* End General Styling */

/* Form Styling */
.form-container {
  margin: auto auto auto auto;
  width: 90%;

}

.form-container.form-edit {
  /* top | right | bottom | left */
  margin: 2px 1em 0em 1em;
  min-width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
  /* align-items: center; */
}

.form-buffer.bottom{
  height: 100px;
}

.form-container.form-proper{
  width:100%;
}

.poll-question{
  color: #FEFEFE;
}

.form-container label {
  /* display: block; */
  display: inline-block;
  margin-top: 15px;
  color: #FEFEFE;
}

.form-container input, .form-container textarea {
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #313339;
  color: #FEFEFE;
  height: 2em;
}

.form-container input[name='question'], .form-container textarea[name='question']{
  width: 100%;
  height: 4em;
  /* overflow-wrap: normal ; */
}

.form-container.labeled.side {
  display: inline-block;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.form-container input[type='radio'] input[name='poll-option']{
  width: 100%;
}
.form-container .form-input.side-label {
  display: inline-block;
  width: 70%;
}

.form-container .form-label.side {
  color: #b9bbbe;
  width: 100%;
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-container input:hover {
  border-color: white
}

.form-container input:focus{
  border: 5px solid teal;
  transition: 0.6s
}

.form-container input::placeholder{
  color: #b9bbbe;
}

.form-button-container.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-button-container.left {
 /* top | right | bottom | left */
  margin: 1em 10em 0 0;
}

.form-button-container.right{
  display:flex;
  justify-content: space-between;
}

.form-button-container.right button{
  margin-right: 1em;
}

.form-button-container {
  margin-top: 20px;
  /* margin: auto; */
  text-align: center;
  display: inline-block;
  /* display: flex; */
  /* justify-content: space-between; */
}

.form-button {
  background-color: #54545b;
  color: #fff;
  border-style: none;
  width: 100%;
  border-radius: 2px;
  height: 2.5em;
  width: 10em;
}

.form-button:hover {
  background-color: #4e4e54;
  cursor: pointer;
}

.button-primary, .form button[type='submit'] {
  background-color: #3EB991;
}

.button-primary:hover, .form button[type='submit']:hover {
  background-color: #3baf8a;
  cursor: pointer;
}

.button-caution {
  background-color: #db544e
}

.button-caution:hover {
  background-color: #db554ed5
}

.form-container .error-message,
.error-message {
  color: #db544e
}

.form-container .results-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-container .option-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-container .option-container img {
  height: 1em;
  margin-right: 2px;
}

.form-container.form-edit .form-button-container.row {
  padding-bottom: 10px
}

.form-bottom-row {
  margin-top: 2em;
}

.form-link {
  color:#00b0f4;
}

.form-title{
  color: #FEFEFE;
}


.form-button-container.login-form {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  margin: auto 25% auto;
}
/* End Form Styling */


.welcome-message-container,
.login-message-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message.title
/* ,.login-message.title */
{
  text-align: center;
  width: 100%;
}

.welcome-message.text
/* ,.login-message.text */
{
  text-align: justify;
  width: 88%;
}

.welcome-message.text.list
{
  padding-left: 1.5em;
  width: 75%;
}

/* .login-message.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: unset;
  width: 100%;
}
.login-message.text {
  text-align: justify;
}
.login-message.list {
  width: 100%;
  text-align: unset;
} */